@import url('https://fonts.googleapis.com/css?family=Neucha&subset=cyrillic');

* {
  margin: 0;
  padding: 0;
  font-family: 'Neucha', cursive;
}

html, body {
  height: 100%;
  font-size: 10px;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  background-size: 100% 30px;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;

  &::after {
    content:'';
    position: absolute;
    width: 0px;
    top: 0;
    left: 6%;
    bottom: 0;
    border-left: 1px solid #F8D3D3;
  }

  .title {
    font-size: 5rem;
    padding-top: 4rem;
  }

  .guess-word {
    margin: 2rem 0;
    &-title {
      font-size: 3rem;
      margin-right: 2rem;
    }
  }

  .main-word {
    font-size: 3.2rem;
  }

  .man-dead {
    display: none;
  }

  .input {
    width: 80px;
    border: 0;
    padding: 10px;
    margin: 20px 0;
    outline: none;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    border-bottom: 3px solid red;
  }
  
  .button {
    background-color: rgb(25, 6, 190);
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 20px;
    outline: none;
    cursor: pointer;
    border: 0;

    &.new-game {
      display: block;
      margin: 0 auto;
      margin-top: 20px;
    }
  }

  .green {
    background: rgb(0, 148, 74) !important;
  }

  .red {
    background-color: red !important;
  }

  .hidden {
    display: none !important;
  }
  .visible {
    display: block !important;
  }
}
